<div
  class="container-fluid"
  *ngIf="subModules[0].name != ''"
>
  <div class="row">
    <div class="col-3 pe-0">
      <ul>
        <li
          class="active"
          (click)="activateClass(subModule)"
          *ngFor="let subModule of subModules"
          [ngClass]="{ active: subModule.active }"
        >
          {{ subModule.name }}
        </li>
      </ul>
    </div>
    <div class="col-9">
      <app-overview [concept]="currentConcept"></app-overview>
    </div>
  </div>
</div>
